fastapi==0.111.0
uvicorn[standard]==0.29.0
strawberry-graphql==0.213.0
motor==3.2.0
pymongo==4.13.2
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.3
passlib==1.7.4
bcrypt==4.1.2
cloudinary==1.39.1
